.container-novedades{
    margin: auto 100px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
}

.tarjeta-img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
 .tarjeta-img:hover{
    transform: scale(1.040);
 }

.tarjeta{
    margin: 10px;
    padding-left: 4px;
    min-height: 300px;
    width: 100px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    background-color: rgb(37, 40, 46);
    color: rgb(187, 15, 15);
    overflow: hidden;
    transition: all 0.10s ease-in;
    position: relative;
}

.tarjeta-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-title {
    text-align: center;
    font-size: medium;

}
.tarjeta-detail {
    text-align: center;
    font-size: small;

}

.tarjeta-btn{
    background-color: rgb(37, 36, 36);
    color: rgb(192, 43, 43);
    border-color: brown;
    box-shadow: 0 0 8px 0 rgb(187, 15, 15);
    font-style: oblique;
}

.detail-container{
    margin: auto 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.041);
    box-shadow: 0 0 5px 0 rgba(15, 15, 15, 0.336);
}

.detail{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 25% 20% 20% auto;
    grid-template-areas: 
    "img title title"
    "img description description"
    "img price price"
    "img count count";
    background-color: rgb(37, 40, 46);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    justify-items: center;
    align-items: center;
}

.detail-img{
    grid-area: img;
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;

}


.detail-title{
    grid-area: title;
    color: black;
    margin-left: -50px;
}

.detail-text{
    grid-area: description;
    color: black;
    margin-left: -30px;
}
.detail-price{
    grid-area: price;
    color: black;
    margin-left: -50px;
}


.container-count-cart{
    grid-area: count;
    display: flex;
    flex-direction: row;
}

.detail-btn-carrito{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(236, 26, 26, 0.514);
    background: rgba(17, 14, 14, 0.301);
    font-size: 10px;
    font-style: oblique;
    font-weight: 50;
    cursor: pointer;
}

.detail-btn-carrito:hover{
    transform: scale(1.1);
}







